.action {
    height: 100vh;
    border-left: #D381F5 25px solid;

    .action-options {
        display: flex;
        justify-content: center;
        align-items: center;

        .meetings-iframe-container {
            width: 500px;
            margin-top: 140px;

            .ColoredCard__ColoredCardSection-sc-1p64xd6-0 {
                background-color: #000 !important;
            }
        }
    }
}