@import './utils/ResponsiveUtils.scss';

.responsive-dialog {
    width: 600px;
    margin: auto;

    .MuiPaper-root {
        min-height: 550px;
        padding: 16px;

        .action-btn {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            .btn {
                width: 100%;
                height: 60px;
                padding: 8px 16px;
                font-weight: 700;
                font-family: 'MediumLLWeb-Bold';
                border-radius: 4px;
                font-size: 20px;

                &.confirm {
                    background-color: #000;
                    color: #fff;

                    &:hover {
                        background-color: #dfdfdf;
                        color: #000;
                    }
                }

                &.cancel {
                    background-color: #dfdfdf;
                    color: #000;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }

        .form {
            display: grid;

            .fields {
                display: grid;
                gap: 20px;
                padding: 20px;
            }

            .title {
                font-size: 24px;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
                padding: 16px;
            }

            .MuiInputBase-root {
                width: 100%;
            }

            .MuiFormControl-root {
                width: 100%;
            }

            .name-fields {
                gap: 8px;
                display: flex;

                .content {
                    // p {
                    //     width: 40px;
                    // }
                }
            }

            .work-email-field {
                gap: 8px;
                display: flex;
                width: 100%;
            }

            .company-field {
                gap: 8px;
                display: flex;
            }

            .description {
                display: grid;
                gap: 24px;

                .title {
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                }

                .selected-problem-item {
                    text-align: center;
                }
            }
        }
    }
}

@include media(phone) {
    .responsive-dialog {
        width: 350px;
        .MuiPaper-root {
            margin: auto;
        }
    }
}