.video-container {
    display: flex;
    height: 100vh;

    .opened-menu-item {
        position: absolute;
        z-index: 1399;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        margin-top: 150px;

        .video-wrapper {
            position: relative;

            &.video-1 {
                height: 50%;
                flex-basis: 35%;
            }

            &.video-2 {
                height: 50%;
                flex-basis: 65%;
            }

            &.video-3 {
                height: 50%;
                flex-basis: 65%;
            }

            &.video-4 {
                height: 50%;
                flex-basis: 35%;
            }
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        .image-thumbnail {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;

            .video-thumbnail {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
            }

            .MuiSvgIcon-root {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 50px;
                cursor: pointer;
            }
        }
    }
}