@import './utils/ResponsiveUtils.scss';
@import '../../fonts/fonts.scss';

@keyframes drop-in {
    0% {
        transform: translateY(-100%);
        animation-timing-function: ease-in;
    }

    50% {
        transform: translateY(-50%);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0%);
        animation-timing-function: ease-out;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
        animation-duration: 0.6s;
    }

    50% {
        transform: translateY(0%);
        animation-timing-function: ease-in;
        animation-duration: 0.8s;
    }

    // 75% {
    //     transform: translateY(-10%);
    //     animation-timing-function: ease-out;
    //     animation-duration: 1s;
    // }
}

.home-container {
    background-color: rgba(216, 223, 233, 1);
    height: 100vh;
    width: 100%;

    &.transition {
        background-color: rgba(255, 255, 255, 1);
    }

    .header-container {
        .header {
            background-color: #fff;
        }
    }

    .content {
        display: flex;
        animation: ease 2s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .content-left {
            img {
                height: 710px;
                width: 690px;
                margin-right: 20px;
                /* Add some space between image and content-right */
            }
        }
    }
}

@include media(phone) {
    .home-container {
        .content {

            .content-left {
                height: 600px;
                justify-content: center;
                position: relative;
                min-height: 90vh;

                img {
                    height: 450px;
                    width: 430px;
                    bottom: 0;
                    position: absolute;
                }
            }
        }
    }
}