@import './utils/ResponsiveUtils.scss';

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.home-container {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: inline-grid;
    align-items: center;
    justify-content: center;

    .landing-area {
        height: 600px;

        .avatar {
            position: relative;
            animation: floatIn 1s ease-in-out;
        }

        .typing {
            text-align: center;
        }
    }

    .count-down {
        font-family: 'MediumLLWeb-Regular';
        color: #fff;

        span {
            color: #D381F5;
            font-family: 'MediumLLWeb-Bold';
            font-size: 20px;
        }
    }
}

@include media(phone) {
    .home-container {
        .landing-area {
            height: 600px;
            margin-top: 100px;

            .avatar {
                img {
                    height: 150px;
                    width: 200px;
                }
            }

            .typing {
                text-align: center;
            }
        }
    }
}