.problem-area {
    display: flex;

    .content {
        align-items: center;
        justify-content: center;

        .active {
            color: #D381F5;
        }

        .title {
            margin-top: 20px;
            text-align: center;
        }
    }
}