.problem-area {
    display: flex;

    .content {
        align-items: center;
        justify-content: center;

        .active {
            background-color: #000;

            .MuiSvgIcon-root {
                color: #fff;
            }
        }

        .title {
            margin-top: 20px;
            text-align: center;
        }
    }
}