@import './utils/ResponsiveUtils.scss';

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.problem-utilization {
    background-color: #fff;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    // border-left: #D381F5 25px solid;

    .content {
        .avatar {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
            animation: floatIn 1s ease-in-out;

            img {
                width: 150px;
            }
        }

        .description {
            text-align: center;
            font-size: 22px;
            font-family: 'MediumLLWeb-Regular';
            animation: floatIn 2s ease-in-out;
        }

        .showcase {
            display: flex;
            gap: 100px;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            animation: floatIn 3s ease-in-out;
        }

        .problem-area {
            width: 100px;
            height: 100px;

            .MuiIconButton-root {
                align-items: center;
                justify-content: center;

                svg {
                    font-size: 80px;
                }

                &:hover {
                    color: #D381F5;
                }
            }
        }

        .redirect-btn {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-top: 150px;
            animation: floatIn 4s ease-in-out;
            cursor: pointer;
            font-family: 'MediumLLWeb-Bold';
        }
    }
}

@include media(phone) {
    .problem-utilization {
        display: grid;
        margin-bottom: 20px;

        .content {
            .description {
                font-size: 15px;
            }

            .avatar {
                margin-bottom: 20px;
            }

            .title {
                width: 150px;
                font-size: 13px;
            }

            .redirect-btn {
                margin-top: 50px;
            }

            .showcase {
                display: grid;
                grid-template-columns: repeat(2, 1fr); // Display items in two columns
                gap: 50px;
                text-align: center;

                .problem-area {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 16px;

                    .box-button {
                        width: 100px;
                        height: 100px;

                        .MuiSvgIcon-root {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}