.typing-effect {
    font-family: monospace;
    font-size: 18px;
    color: #fff;
    div {
        span {
            font-family: 'MediumLLWeb-Bold';
        }
        .sub-text {
            font-size: 13px;
            font-family: 'MediumLLWeb-Regular';
        }
    }
  }