.typing-effect {
    color: #fff;

    div {
        .text {
            font-size: 20px;
            font-family: 'MediumLLWeb-Regular';
        }

        .sub-text {
            font-size: 12px;
            font-family: 'MediumLLWeb-Regular';
        }
    }
}