@import './utils/ResponsiveUtils.scss';

.video-container {
    display: grid;
    height: 100vh;

    .opened-menu-item {
        position: absolute;
        z-index: 1399;
    }

    .tabs {
        margin-top: 75px;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;

        .video-wrapper {
            position: relative;

            &.video-1 {
                height: 50%;
                flex-basis: 35%;
            }

            &.video-2 {
                height: 50%;
                flex-basis: 65%;
            }

            &.video-3 {
                height: 50%;
                flex-basis: 65%;
            }

            &.video-4 {
                height: 50%;
                flex-basis: 35%;
            }
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        .image-thumbnail {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: #D8DFE9;
            width: 100%;
            height: 100%;
            border: 4px solid #fff;

            .thumbnail-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                width: 50%;
                height: 50%;

                .box-button {
                    width: 200px;
                    height: 200px;
                    background-color: rgba(216, 223, 233, 1);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow:
                        0px 4px 6px rgba(0, 0, 0, 0.1),
                        0px 10px 20px rgba(0, 0, 0, 0.15);

                    img {
                        width: 80%;
                        height: auto;
                    }
                }

                .text {
                    font-family: 'MediumLLWeb-Regular';
                    font-weight: 700;
                }
            }
        }
    }
}


@include media(phone) {
    .video-container {
        .videos {
            display: grid;

            .video-wrapper.video-1 {
                display: flex;
                height: 250px;

                .image-thumbnail {
                    .thumbnail-wrapper {
                        // .video-thumbnail {
                        //     width: 65%;
                        // }
                    }
                }
            }

            .video-wrapper.video-2 {
                display: flex;
                height: 250px;
            }

            .video-wrapper.video-3 {
                display: flex;
                height: 250px;
            }

            .video-wrapper.video-4 {
                display: flex;
                height: 250px;
            }
        }
    }
}