@import '../../fonts/fonts.scss';
@import './utils/ResponsiveUtils.scss';

@keyframes ease {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome {
    background-color: #ffff;
    height: 100vh;
    width: 100%;

    .content {
        display: flex;
        animation: ease 2s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .content-left {
            img {
                height: 820px;
                width: 800px;
                margin-right: 20px;
                /* Add some space between image and content-right */
            }
        }

        .content-right {
            flex: 1;
            /* Allow the content-right section to grow and fill the available space */
            display: flex;
            flex-direction: column;
            /* Adjust to a column layout */
            align-items: center;
            /* Center the content in the right column */
            justify-content: center;

            .container {
                .description {
                    font-size: 16px;
                    font-family: 'MediumLLWeb-Regular';
                    font-weight: 500;
                    animation: ease 2s ease;
                    text-align: center;
                    margin: auto;
                    margin-top: 20px;
                    /* Adjust the margin to your preference */
                }

                .showcase {
                    display: flex;
                    gap: 40px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-top: 20px;
                    animation: ease 3s ease;
                    height: 50px;

                    .MuiSvgIcon-root {
                        font-size: 34px;
                    }

                    .showcase-company {
                        background-color: rgb(214, 217, 217);
                        height: 35px;
                        padding: 0 16px;
                        display: grid;
                        align-items: center;
                        border-radius: 4px;

                        img {
                            max-width: 100px;
                        }
                    }
                }

                .scroll {
                    display: flex;
                    margin-top: 60px;
                    text-align: center;
                    justify-content: center;

                    .scrolling-btn {
                        animation: ease 3s ease;

                        img {
                            width: 50px;
                        }
                    }

                    .MuiSvgIcon-root {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@include media(phone) {
    * {
        box-sizing: border-box;
    }

    .welcome {
        .content {
            padding: 24px;
            margin-top: 100px;
            justify-content: center;
            display: grid;

            .avatar {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                img {
                    width: 200px;
                }
            }

            .description {
                font-size: 16px;
                font-family: 'MediumLLWeb-Regular';
                font-weight: 500;
                animation: ease 2s ease;
                text-align: center;
                margin: auto;
                width: 350px;
            }

            .showcase {
                display: flex;
                gap: 40px;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 40px;
                animation: ease 3s ease;

                .showcase-company {
                    background-color: rgb(214, 217, 217);
                    height: 35px;
                    padding: 0 16px;
                    display: grid;
                    align-items: center;
                    border-radius: 4px;

                    img {
                        max-width: 100px;
                    }
                }
            }

            .description {
                width: 350px;
            }
        }

        .scroll {
            display: flex;
            margin-top: 60px;
            text-align: center;
            justify-content: center;

            .MuiSvgIcon-root {
                font-size: 34px;
            }
        }
    }
}