@import '../../fonts/fonts.scss';
@import './utils/ResponsiveUtils.scss';

@keyframes ease {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome {
    background-color: #ffff;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .content {
        margin-top: 180px;
        .avatar {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            img {
                width: 200px;
            }
        }

        .description {
            font-size: 16px;
            font-family: 'MediumLLWeb-Regular';
            font-weight: 500;
            animation: ease 2s ease;
            text-align: center;
            margin: auto;
        }

        .showcase {
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            animation: ease 3s ease;

            .showcase-company {
                img {
                    max-width: 100px;
                }
            }
        }

        .redirect-btn {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-top: 20px;
            animation: floatIn 4s ease-in-out;
        }
    }

    .scroll {
        display: flex;
        margin-top: 160px;
        text-align: center;
        justify-content: center;

        .scrolling-btn {
            animation: ease 3s ease ;
            img {
                width: 75px;
            }
        }

        .MuiSvgIcon-root {
            font-size: 24px;
        }
    }
}

@include media(phone) {
    .welcome {
        .content {
            padding: 24px;
            margin-top: 100px;
            justify-content: center;
            display: grid;

            .showcase {
                display: block;

                .showcase-company {
                    margin-bottom: 40px;
                }
            }

            .description {
                width: 350px;
            }
        }

        .scroll {
            margin-top: 25px;
        }
    }
}