@import '../../fonts/fonts.scss';
@import './utils/ResponsiveUtils.scss';

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome {
    background-color: #fff;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .closed-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .opened-menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    .content {
        .avatar {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            animation: floatIn 1s ease-in-out;

            img {
                width: 200px;
                height: 150px;
            }
        }

        .description {
            font-size: 11px;
            font-family: 'MediumLLWeb-Regular';
            font-weight: 500;
            animation: floatIn 2s ease-in-out;
            text-align: center;
        }

        .showcase {
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            animation: floatIn 3s ease-in-out;

            .showcase-company {
                img {
                    max-width: 180px;
                    height: 40px;
                }
            }
        }

        .redirect-btn {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-top: 20px;
            animation: floatIn 4s ease-in-out;
        }
    }
}

@include media(phone) {
    .welcome {
        .content {
            padding: 24px;

            .showcase {
                display: block;

                .showcase-company {
                    margin-bottom: 40px;
                }
            }
        }
    }
}