@font-face {
  font-family: 'MediumLLSub-RegularSubset';
  src: url('MediumLLSub-RegularSubset.woff2') format('woff2');
}

@font-face {
  font-family: 'MediumLLSub-RegularSubset';
  src: url('MediumLLSub-RegularSubset.woff') format('woff');
}

@font-face {
  font-family: 'MediumLLSub-BoldSubset';
  src: url('MediumLLSub-BoldSubset.woff2') format('woff2');
}

@font-face {
  font-family: 'MediumLLSub-BoldSubset';
  src: url('MediumLLSub-BoldSubset.woff') format('woff');
}

/* complete */

@font-face {
  font-family: 'MediumLLWeb-Regular';
  src: url('MediumLLWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MediumLLWeb-Regular';
  src: url('MediumLLWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MediumLLWeb-Bold';
  src: url('MediumLLWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'MediumLLWeb-Bold';
  src: url('MediumLLWeb-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'F37Judge-MediumCondensed';
  src: url('F37Judge-MediumCondensed.woff2') format('woff2');
}
